<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <connectionStrings>
        <add name="FusionConnectionString" connectionString="Data Source=SERVER;Initial Catalog=DATABASE;Persist Security Info=True;User ID=esisa;Password=PWD" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
